.fresheyes-comment-count {
  position: absolute;
  border: 1px solid #c3c5c7;
  color: #d5d5d5;
  font-size: 13px;
  padding: 4px 5px;
  margin-bottom: 4px;
  border-radius: 3px;
  text-decoration: none;
  width: max-content;
  cursor: pointer;
  background-color: rgb(15, 15, 15);
}

.fresheyes-comment-count:hover {
  color: #fff;
}

.fresheyes-line-comments {
  height: 30px;
  margin: 2px 0 5px 0;
}

.fresheyes-line-comments:hover {
  background-color: #1e1e1e;
}
